<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="fit" class="fit-toolbar">
  <mat-grid-tile>
    <mat-grid-list cols="2" rowHeight="fit" class="fit-space">
      <mat-grid-tile colspan="2">

          <mat-form-field appearance="fill" class="base-url">
            <mat-label>Base URL (Exposed to test other endpoints)</mat-label>
            <input matInput [formControl]="baseURL">
          </mat-form-field>
          <mat-radio-group [formControl]="apiType">
            <mat-radio-button value="external" class="radio-button">external-books/</mat-radio-button>
            <mat-radio-button value="internal" class="radio-button">v1/books/</mat-radio-button>
          </mat-radio-group>

      </mat-grid-tile>
      <mat-grid-tile rowspan="4">
        <div>
          <div *ngIf="apiType.value=='external'">
            <mat-form-field appearance="fill">
              <mat-label>Request Type</mat-label>
              <mat-select [formControl]="externalRequestType">
                <mat-option value="GET">GET</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="apiType.value=='internal'">
            <mat-form-field appearance="fill">
              <mat-label>Request Type</mat-label>
              <mat-select [formControl]="internalRequestType">
                <mat-option value="GET">GET</mat-option>
                <mat-option value="GETID">GET ID</mat-option>
                <mat-option value="POST">POST</mat-option>
                <mat-option value="PATCH">PATCH</mat-option>
                <mat-option value="DELETE">DELETE</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="sendRequest()">Send Request</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile rowspan="4">
        <div class="fit-space">
          <div *ngIf="apiType.value=='external'">
            <mat-form-field appearance="fill">
              <mat-label>External Book Name</mat-label>
              <input matInput [formControl]="externalBookName">
            </mat-form-field>
          </div>
          <div *ngIf="apiType.value=='internal' && ['GETID', 'PATCH', 'DELETE'].includes(internalRequestType.value)">
            <mat-form-field appearance="fill">
              <mat-label>Book ID</mat-label>
              <input matInput [formControl]="internalBookID">
            </mat-form-field>
          </div>
          <div *ngIf="apiType.value=='internal' && ['PATCH', 'POST'].includes(internalRequestType.value)" class="json-editor">
            <json-editor [options]="editorOptions" [data]="inputObject"></json-editor>
          </div>
          <div *ngIf="apiType.value=='internal' && internalRequestType.value=='GET'">
            <h2>Filters</h2>
            <form [formGroup]="filterGroup">
              <mat-form-field appearance="fill" *ngFor="let filterName of filterGroup.controls | keyvalue">
                <mat-label>{{filterName.key}}</mat-label>
                <input matInput [formControlName]="filterName.key">
              </mat-form-field>
            </form>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-list cols="1" rowHeight="fit" class="fit-space">
      <mat-grid-tile>
        <h1>Response</h1>
      </mat-grid-tile>
      <mat-grid-tile rowspan="4">
        <div class="json-viewer" *ngIf="!spinner">
          <ngx-json-viewer [json]="responseData"></ngx-json-viewer>
        </div>
        <mat-spinner *ngIf="spinner"></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
</mat-grid-list>